* {
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    min-width: 360px;
}
h1 {
    font-size: 1.5rem;
    font-weight: normal;
}
p + p {
    margin-top: 0;
}
input[type="checkbox"] {
    vertical-align: bottom;
}
input[type="checkbox"],
label {
    cursor: pointer;
}
.hidden {
    display: none;
}
