.popup-counter {
    color: #ccc;
    flex: 1 1 auto;
    text-align: right;
}
p, h1 {
    padding: 0 1rem;
}
.popup-textarea {
    line-height: 1.4;
    max-height: 28rem;
    min-height: 20rem;
    overflow-x: hidden;
    padding: .5rem;
    resize: vertical;
    white-space: pre;
    width: 100%;
}
.footer {
    border-top: 1px solid #ccc;
    display: flex;
}
.footer span {
    background: #f0f0f0;
    flex: 1 1 auto;
    padding: .5rem 1.5rem;
    text-align: center;
}
.footer span:hover {
    background: #e2e2e2;
}
.footer span:focus,
.footer span:active {
    background: #d8d8d8;
}
.footer .popup-button-export {
    border-left: 1px solid #ccc;
}
.footer span.disabled,
.footer span.disabled::before {
    color: #999;
    background-color: #f0f0f0;
    opacity: .5;
}
.popup-button-copy::before,
.popup-button-export::before {
    content: '';
    display: inline-block;
    height: 16px;
    vertical-align: -.1rem;
    width: 22px;
}
.popup-button-copy::before {
    background: url('../img/copy-to-clipboard.svg') no-repeat;
}
.popup-button-export::before {
    background: url('../img/export-as-file.svg') no-repeat;
}
.options {
    display: flex;
}
.options p {
    margin-top: 0;
}
